html
  head
    title #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="/resources/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/resources/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" type="text/css" href="/css/master.css")
    link(rel="stylesheet" type="text/css" href="/css/search.css")
    link(rel="stylesheet" type="text/css" href="/css/airport.css")
    link(rel="stylesheet" type="text/css" href="/css/login.css")
    link(rel="stylesheet" type="text/css" href="/css/tooltip.css")
    link(rel="stylesheet" type="text/css" href="/css/transitions.css")
    script(src="https://maps.google.com/maps/api/js?key=AIzaSyCTrWWBWfYPGFsHvv8sr4tkfpeubCiDIE0")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")
    script(src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0")
    script(type="text/javascript" src="/scripts/google-maps.js")
    script(type="text/javascript" src="/scripts/global-components/tooltip.js")
    style(type="text/css").
      .link {
        text-shadow: 1px 1px black;
      }
  body
    div#loginApp
      loginbanner(v-bind:banner="banner")
      logincontainer
        loginnav(slot="login-nav" v-bind:user="loggedUser" @login:click="toggleLoginMenu" @signup:click="openSignUpForm" @signout:click="signOut")
        loginmenu(slot="login-menu" v-bind:enabled="loginVis")
          loginform(slot="login-form" v-bind:login-data="loginData" @form:submit="loginSubmit" @user:input="loginData.username = $event" @pass:input="loginData.password = $event")
        signupmenu(slot="signup-menu")
          signupform(slot="signup-form" v-bind:form-data="formData" @form:submit="signupSubmit" @cancel:click="closeSignUpForm" @user:input="formData.username = $event" @pass:input="formData.password = $event")
            tooltip(slot="user-tooltip" v-bind:show="tooltips.username.show" v-bind:message="tooltips.username.message" @tooltip:hide="tooltips.username.show = false")
            tooltip(slot="pass-tooltip" v-bind:show="tooltips.password.show" v-bind:message="tooltips.password.message" @tooltip:hide="tooltips.password.show = false")
      div.favourite-container(v-show="loggedUser != undefined")
        div(@click="onFavouriteToggle()")
          img.favourite(v-bind:src="favouriteUrl" style="vertical-align: text-bottom" width="20px" height="20px")
          span.link Favourite
        tooltip(v-bind:show="tooltips.favourite.show" v-bind:message="tooltips.favourite.message" @tooltip:hide="tooltips.favourite.show = false")
    div.page
      h1#title.dark #{icao}
      div.main-content
        div#searchApp.search-container
          form(v-on:submit.prevent="searchSubmit" style="margin: 0")
            div.textbox-container
              input#icaoTxt.sub-textbox(type="text" v-model.trim="icao" v-on:keyup="hideTooltip" placeholder="Load Another Airport.." autocomplete="off")
              tooltip(v-bind:show="tooltip.show" v-bind:message="tooltip.message" @tooltip:hide="tooltip.show = false")
            input#searchBtn.button(type="submit" value="Search")
        div.split-containers
          div.info.info-side.container
            h3 Airport information
            hr
            | Latitude: 
            span#latitude.field-seperate #{latitude}
            br
            | Longitude: 
            span#longitude.field-seperate #{longitude}
            br
            | City: 
            span.field-seperate #{city}
            br
            | Country: 
            span.field-seperate #{country}
            br
            | Timezone: 
            span.field-seperate #{timezone}
            br
            | Status: 
            span.field-seperate #{status}
          div.map-container.containers
            div#google-map
            input#recenterBtn.button(type="button" value="Recenter")
        div.info.container
          h3 METAR
          hr
          span #{metar}
    script(type="text/javascript" src="/scripts/account.js")
    script(type="text/javascript" src="/scripts/search.js")
